h1 {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    padding-left: 30px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    padding-top: 30px;
    padding-left: 30px;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 30px;
    padding-top: -10px;
    padding-left: 30px;
}